body {
    font-family: Arial, sans-serif;
    background-color: #002944;
    margin: 0;
    padding: 50px;
}

main {
    margin-top: 60px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10);
    padding: 40px;
    width: 80%;
    margin-left: 150px;
}

img {
    width: 700px;
    margin-left: 100px;
}

.container {
    max-width: 400px;
    width: 100%;
    margin: auto;
    background-color: #002944;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10);
    display: inline-block;
}

h1 {
    text-align: center;
    color: white;
}

span {
    color: #1D92D0;
}

.todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-list li {
    margin-bottom: 15px;
    line-height: 1.6;
    padding: 10px;
    background-color: #0A3D5E;
    border-radius: 10px;
    position: relative;
    color: #E0F0FF;
}

a.sub-item-link {
    margin-left: 10px;
    text-decoration: none;
}

.sub-item-link:link {
    color: #A5D8FF;
}

.sub-item-link:visited {
    color: #B3DAFF;
    font-weight: bold;
}

.sub-item-link:hover {
    color: #FFFFFF;
    background-color: rgba(29, 146, 208, 0.2);
}

.sub-item-link:focus {
    outline: 2px solid #4DA8FF;
    outline-offset: 2px;
}

.sub-item-link:active {
    color: white;
}

.sub-item {
    list-style: square;
}
